<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.all2one.Properties.Settings_AppVar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OLKI.Programme.all2one.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OLKI.Programme.all2one.Properties.Settings_AppConst" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLKI.Programme.all2one.Properties.Settings_AppVar>
            <setting name="MainForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainForm_State" serializeAs="String">
                <value>Normal</value>
            </setting>
        </OLKI.Programme.all2one.Properties.Settings_AppVar>
        <OLKI.Programme.all2one.Properties.Settings>
            <setting name="ExistingFile_Handle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExistingFile_AddText" serializeAs="String">
                <value />
            </setting>
            <setting name="ExistingFile_DateFormat" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="Move_RemainTimeDays" serializeAs="String">
                <value>dd\.hh\:mm\:ss</value>
            </setting>
            <setting name="Move_RemainTimeNoDays" serializeAs="String">
                <value>hh\:mm\:ss</value>
            </setting>
            <setting name="Internal_SettingsUpgradet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectorySource" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyMoveFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateIndexTarget" serializeAs="String">
                <value>Index.txt</value>
            </setting>
            <setting name="ProcessAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyMoveKeepStructure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppUpdate_CheckAtStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </OLKI.Programme.all2one.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup><applicationSettings>
        <OLKI.Programme.all2one.Properties.Settings_AppConst>
            <setting name="AppUpdate_ChangeLog" serializeAs="String">
                <value>Changelog.txt</value>
            </setting>
            <setting name="AppUpdate_Name" serializeAs="String">
                <value>OLKI.Programme.all2one</value>
            </setting>
            <setting name="AppUpdate_Owner" serializeAs="String">
                <value>OliverKind</value>
            </setting>
            <setting name="AppUpdate_SetupSearchPattern" serializeAs="String">
                <value>all2one__v{0}__Setup.exe</value>
            </setting>
        </OLKI.Programme.all2one.Properties.Settings_AppConst>
    </applicationSettings>
</configuration>
