<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.all2one.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLKI.Programme.all2one.Properties.Settings>
            <setting name="ExistingFile_Handle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExistingFile_AddText" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExistingFile_DateFormat" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="Move_RemainTimeDays" serializeAs="String">
                <value>dd\.hh\:mm\:ss</value>
            </setting>
            <setting name="Move_RemainTimeNoDays" serializeAs="String">
                <value>hh\:mm\:ss</value>
            </setting>
            <setting name="Internal_SettingsUpgradet" serializeAs="String">
                <value>False</value>
            </setting>
        </OLKI.Programme.all2one.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
